.Navbar {
    background: #00050d;
    padding: 14px 100px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Navbar div {
    display: flex;
    align-items: center;
    gap: 20px;
}

.Navbar div a {
    color: #fff;
    padding: 8px 17px;
    border-radius: 10px;
    font-weight: 600;
}

.Navbar div a:hover {
    background: #fff;
    color: #000;
}

.Btn {
    width: max-content;
    padding: 8px 22px;
    background: var(--main);
    color: #fff;
    font-weight: 800;
    cursor: pointer;
    border-radius: 10px;
}